@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.carousel-item  {
    position: relative;
}

.carousel-item img {
    object-fit: cover;
}

.subtitle {
    font-size: 20px;
    color: #000;
}


.title-carrusel {
    font-family: "Chakra Petch", sans-serif;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
    font-weight: 800;
}

.btn-carusel {
    background-color:  #ADC178;
    padding: 10px 15px;
    border-radius: 20px;
    font-family: "Chakra Petch", sans-serif;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.carousel-caption {
    bottom: 4rem!important;
}

.products-section {
    margin: 20px 0;
}

.card {
    border: 1px solid #000 !important;
}

.card-text {
    color: #000;
}

.card-image {
    object-fit: cover;
}



@media screen and (max-width: 500px) {
    .carousel-item {
        height: 60vh;
    }
    
    .carousel-item img {
        height: 100%;
    }

    .card-image {
        height: 200px;
    }

    .col-card {
        width: 50% !important;
    }

    .card-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 360px) {

    .col-card {
        width: 100% !important;
    }

   
}

@media screen and (min-width: 500px) {

    .products-section {
        width: 80%;
        margin: 20px auto;
    }

    .title-carrusel {
        font-size: 120px;
        width: 40%;
    }

    .card-image {
        height: 380px;
    }
}

.image-cont {
    position: relative;
    display: inline-block;
}

.image-cont img {
    display: block;
    width: 100%;
    height: auto;
}

.image-cont .btn2 {
    transform: translate(300%, -140%); 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.contene {
    display: flex;
    justify-content:space-around;
    margin: 30px 0;
}

